  /* ----cursor---- */
  body {
    cursor: url('../images/cursor.png'), auto;
  }
  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #33A8D4;
  ; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #33A8D4;
  ; 
}
